<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Simple Web Page</title>
	</head>
	<body background="http://www.daoyouz.com/picture/abed28443746d19e427bae2564cc19a4.jpg">
		<div style="color:#fff">
			<h1 style="text-align:center">Simple Web Page / next</h1>
		</div>
  </body>
</html>

